:root {
  font-size: 16px;
  --main-color: #6D435A;
  --accent-color: #FF6978;
  --table-color-even: #FFFCF9;
  --table-color-odd: #FFEBD6;
  --background-color: #B1EDE8;
  font-family: Arial, Helvetica, sans-serif;
  /*Reserve: #340068*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body { 
  background-color: var(--background-color);
}

table {
  border-collapse: collapse;
  border: 2px solid var(--main-color);
  letter-spacing: 1px;
  font-size: 1rem;
}

td, th {
  border: 1px solid var(--main-color);
  padding: 10px 20px;
}

th {
  background-color: var(--accent-color);
  color: var(--table-color-even);
}

td {
  text-align: center;
  color: var(--main-color);
}

tr:nth-child(even) td {
  background-color: var(--table-color-even);
}

tr:nth-child(odd) td {
  background-color: var(--table-color-odd)
}

caption {
  padding: 10px 0px;
  text-align: start;
  color: var(--main-color);
}

#container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: 
    'sidebar navbar'
    'sidebar books';
}

#navbar {
  display: flex;
  align-items: center;
  grid-area: navbar;
  background-color: var(--table-color-even);
  -webkit-box-shadow: 5px 5px 15px 5px #949494; 
  box-shadow: 5px 5px 15px 5px #949494; 
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--main-color);
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    'logo',
    'menu',;
}

#books {
  grid-area: books;
  padding: 1rem 2rem;
}

#title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-color);
  margin-left: 2rem;
}