:root {
  font-size: 16px;
  --main-color: #6D435A;
  --accent-color: #FF6978;
  --table-color-even: #FFFCF9;
  --table-color-odd: #FFEBD6;
  --background-color: #B1EDE8;
  font-family: Arial, Helvetica, sans-serif;
  /*Reserve: #340068*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body { 
  background-color: var(--background-color);
}

table {
  border-collapse: collapse;
  border: 2px solid var(--main-color);
  letter-spacing: 1px;
  font-size: 1rem;
}

td, th {
  border: 1px solid var(--main-color);
  padding: 0.5rem 1rem;
}

th {
  background-color: var(--accent-color);
  color: var(--table-color-even);
}

td {
  text-align: center;
  color: var(--main-color);
}

tr:nth-child(even) td {
  background-color: var(--table-color-even);
}

tr:nth-child(odd) td {
  background-color: var(--table-color-odd)
}

caption {
  padding: 0.5rem 0rem;
  text-align: start;
  color: var(--main-color);
}

input {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

input[type="text"], input[type="number"] {
  background-color: var(--table-color-even);
  border-radius: 25px;
  font-size: 1.2rem;
  padding: 0.3rem 0.8rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 2px 2px 5px 2px #4C2F3F;
  box-shadow: 2px 2px 5px 2px #4C2F3F;
  border: 2px solid transparent;
}

input[type="text"]:focus, input[type="number"]:focus {
  border: 2px solid var(--accent-color);
}

input[type="checkbox"] {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  accent-color: var(--accent-color);
}

button {
  display: block;
  padding: 0.5rem 3rem;
  background-color: var(--accent-color);
  font-size: 1.2rem;
  border: 0;
  border-radius: 25px;
  color: var(--table-color-even);
  cursor: pointer;
}

button:active {
  background-color: #FF3347;
}

label {
  color: var(--table-color-even);
}

.text-label {
  display: block;
  text-align: start;
  padding: 0.2rem 1rem;
}

#container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: 
    'sidebar navbar'
    'sidebar books';
}

#navbar {
  display: flex;
  align-items: center;
  grid-area: navbar;
  background-color: var(--table-color-even);
  -webkit-box-shadow: 5px 5px 15px 5px #949494; 
  box-shadow: 5px 5px 15px 5px #949494; 
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--main-color);
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    'logo'
    'menu';
}

#books {
  grid-area: books;
  padding: 1rem 2rem;
}

#title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-color);
  margin-left: 2rem;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--table-color-even);
  grid-area: logo;
}

#menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}

#menu-title {
  color: var(--table-color-even);
  width: 75%;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--table-color-even);
  margin-bottom: 1.5rem;
}